<div class="row">
    <div class="col-5 mb-3 bg-light mx-2 d-flex flex-column pb-2">
        <div class="fs-2 fw-bold mb-3 text-decoration-underline">Forms</div>
        <div class="mb-4">
            In this example all HTTP requests the application performs via <span class="badge bg-dark">Forms</span> component which under the hood does the <span class="badge bg-dark">POST</span> request with the Content-Type request header set to <span class="badge bg-dark">application/x-www-url-encoded</span>
        </div>
        <div class="mt-auto mb-2">
            <a class="btn-lg btn-primary text-decoration-none" href="/RedirectTest/Articles/Show">Continue with Forms</a>
        </div>
    </div>
    <div class="col-5 mb-3 bg-light mx-2 d-flex flex-column pb-2">
        <div class="fs-2 fw-bold mb-3 text-decoration-underline">Fetch</div>
        <div class="mb-4">
            Here the application performs requests via <span class="badge bg-dark">Fetch API</span>. The data is serialized into JSON. Content-Type header is set to <span class="badge bg-dark">application/json</span>.
        </div>
        <div class="mt-auto mb-2">
            <a class="btn-lg btn-primary text-decoration-none" href="/RedirectTest/ArticlesJs/Show">Continue with Fetch API</a>
        </div>
    </div>
    <div class="col-5 mb-3 bg-light mx-2 d-flex flex-column pb-2">
        <div class="fs-2 fw-bold mb-3 text-decoration-underline">XMLHttpRequest</div>
        <div class="mb-4">
            The application performs HTTP requests via the older <span class="badge bg-dark">XMLHttpRequest</span> type. The data is serialized into JSON. Content-Type header is set to <span class="badge bg-dark">application/json</span>.
        </div>
        <div class="mt-auto mb-2">
            <a class="btn-lg btn-primary text-decoration-none" href="/RedirectTest/ArticlesXMLHttp/Show">Continue with XMLHttpRequest</a>
        </div>
    </div>
</div>