@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<div class="row">
    <div class="col-4">
        <form action="/RedirectTest/Accounts/Register" method="post">
            <div class="mb-3">
                <label class="form-label" for="Email">Email:</label><br />
                <input class="form-control" name="Email" type="email" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Nickname">Username:</label><br />
                <input class="form-control" name="Nickname" type="text" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Password">Password:</label><br />
                <input class="form-control" name="Password" type="password" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="ConfirmPassword">Confirm Password:</label><br />
                <input class="form-control" name="ConfirmPassword" type="password" />
            </div>
            <input class="btn-lg btn-primary" type="submit" value="Register">
        </form>
    </div>
</div>
